In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
%matplotlib inline
import json

# read in the json files
portfolio = pd.read_json('data/portfolio.json', orient='records', lines=True)
profile = pd.read_json('data/profile.json', orient='records', lines=True)
transcript = pd.read_json('data/transcript.json', orient='records', lines=True)

### Buisiness Understanding

Q1. Which groups of people are most responsive to each type of offer?  
Q2. How to present each type of offer?

### Data Understanding

**Portfolio**: Offers sent during 30-day test period (10 offers x 6 fields)
- reward: (numeric) money awarded for the amount spent
- channels: (list) web, email, mobile, social
- difficulty: (numeric) money required to be spent to receive reward
- duration: (numeric) time for offer to be open, in days
- offer_type: (string) bogo, discount, informational
- id: (string/hash)

In [2]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [3]:
portfolio.shape

(10, 6)

ex)
0 row의 경우, 10 달러의 리워드가 있으며 채널은 email, mobile, social을 통해 고객에게 전달됨.   
리워드를 받기 위해선 10 달러를 써야 하며, 사용 가능 기간은 7일임.  
프로모션의 형태는 bogo(하나사면 하나 더 줌)이며 해당 프로모션의 id는 ae264어쩌구저쩌구임.

**Profile**: Rewards program users (17000 users x 5 fields)
- gender: (categorical) M, F, O, or null
- age: (numeric) missing value encoded as 118
- id: (string/hash)
- became_member_on: (date) format YYYYMMDD
- income: (numeric)

In [4]:
profile.head()

  gender  age                                id  became_member_on    income
0   None  118  68be06ca386d4c31939f3a4f0e3dd783          20170212       NaN
1      F   55  0610b486422d4921ae7d2bf64640c50b          20170715  112000.0
2   None  118  38fe809add3b4fcf9315a9694bb96ff5          20180712       NaN
3      F   75  78afa995795e4d85b5d9ceeca43f5fef          20170509  100000.0
4   None  118  a03223e636434f42ac4c3df47e8bac43          20170804       NaN

In [5]:
profile.shape

(17000, 5)

ex) 0 row의 경우, 성별은 None임(그놈의 PC충들). 나이는 무려 118살이네. 고객 id는 위와 같음.  
2017년2월12일에 고객이 되었으며, 수익은 없는듯함.

**Transcript**: Event log (306648 events x 4 fields)
- person: (string/hash)
- event: (string) offer received, offer viewed, transaction, offer completed
- value: (dictionary) different values depending on event type
- offer id: (string/hash) not associated with any "transaction"
- amount: (numeric) money spent in "transaction"
- reward: (numeric) money gained from "offer completed"
- time: (numeric) hours after start of test

In [6]:
transcript.head()

,person,event,value,time
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,{'offer id': '9b98b8c7a33c4b65b9aebfe6a799e6d9'},0
1,a03223e636434f42ac4c3df47e8bac43,offer received,{'offer id': '0b1e1539f2cc45b7b9fa7c272da2e1d7'},0
2,e2127556f4f64592b11af22de27a7932,offer received,{'offer id': '2906b810c7d4411798c6938adc9daaa5'},0
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,{'offer id': 'fafdcd668e3743c1bb461111dcafc2a4'},0
4,68617ca6246f4fbc85e91a2a49552598,offer received,{'offer id': '4d5c57ea9a6940dd891ad53e9dbe8da0'},0

In [7]:
transcript.shape

(306534, 4)

ex) 0 row의 경우, 고객 id는 78afa어쩌구저쩌구이며(profile 셋에 있음), 오퍼를 받은 것이 확인됨.  
오퍼의 종류는 9b98b어쩌구저쩌구이고(portfolio 셋에 있음), 테스트 시작하자마자 오퍼를 받음.

### Data Preparing

#### 1. Value Column 내 dict 형태 값들을 활용해, 데이터 프레임 확장: Key는 새로운 칼럼, Value는 칼럼 내의 value

In [8]:
transcript['event'].unique()

array(['offer received', 'offer viewed', 'transaction', 'offer completed'],
      dtype=object)

In [13]:
df = pd.DataFrame(transcript['value'].tolist())

In [35]:
df.head()

                           offer id  amount offer_id  reward
0  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN      NaN     NaN
1  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN      NaN     NaN
2  2906b810c7d4411798c6938adc9daaa5     NaN      NaN     NaN
3  fafdcd668e3743c1bb461111dcafc2a4     NaN      NaN     NaN
4  4d5c57ea9a6940dd891ad53e9dbe8da0     NaN      NaN     NaN

**offer id, offer_id 컬럼이 생성. 각각 칼럼의 내 id가 존재하는 경우, 서로 다른 칼럼에는 id가 존재하지 않음. 그냥 타이핑 오류인 듯. 한쪽에 몰아야 함.**

In [38]:
offer_ids = df[~df['offer_id'].isnull()]['offer_id']

In [58]:
df.loc[offer_ids.index, 'offer id'] = df.loc[offer_ids.index, 'offer_id']

In [62]:
df.drop('offer_id', axis=1, inplace=True)
df.head()

                           offer id  amount  reward
0  9b98b8c7a33c4b65b9aebfe6a799e6d9     NaN     NaN
1  0b1e1539f2cc45b7b9fa7c272da2e1d7     NaN     NaN
2  2906b810c7d4411798c6938adc9daaa5     NaN     NaN
3  fafdcd668e3743c1bb461111dcafc2a4     NaN     NaN
4  4d5c57ea9a6940dd891ad53e9dbe8da0     NaN     NaN

In [63]:
transcript = pd.concat([transcript.drop(['value'], axis=1), df], axis=1)
transcript.head()

,person,event,time,offer id,amount,reward
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN

#### 2. Offer id 칼럼을 활용해 Portfolio의 offer_type을 transcript 데이터프레임에 붙임

In [66]:
portfolio

,reward,channels,difficulty,duration,offer_type,id
0,10,"[email, mobile, social]",10,7,bogo,ae264e3637204a6fb9bb56bc8210ddfd
1,10,"[web, email, mobile, social]",10,5,bogo,4d5c57ea9a6940dd891ad53e9dbe8da0
2,0,"[web, email, mobile]",0,4,informational,3f207df678b143eea3cee63160fa8bed
3,5,"[web, email, mobile]",5,7,bogo,9b98b8c7a33c4b65b9aebfe6a799e6d9
4,5,"[web, email]",20,10,discount,0b1e1539f2cc45b7b9fa7c272da2e1d7
5,3,"[web, email, mobile, social]",7,7,discount,2298d6c36e964ae4a3e7e9706d1fb8c2
6,2,"[web, email, mobile, social]",10,10,discount,fafdcd668e3743c1bb461111dcafc2a4
7,0,"[email, mobile, social]",0,3,informational,5a8bc65990b245e5a138643cd4eb9837
8,5,"[web, email, mobile, social]",5,5,bogo,f19421c1d4aa40978ebb69ca19b0e20d
9,2,"[web, email, mobile]",10,7,discount,2906b810c7d4411798c6938adc9daaa5

In [ ]:
### Takes Too Long
portfolio_lst = portfolio.id.tolist()

for offer in transcript['offer id']:
    if offer in portfolio_lst:
        transcript['offer_type'] = portfolio[portfolio['id']==offer]['offer_type'].max()
    else:
        transcript['offer_type'] = 'NaN'

In [100]:
extract_type = lambda x: portfolio[portfolio['id']==x]['offer_type'].max()
transcript['offer_type'] = transcript['offer id'].apply(extract_type)

In [111]:
transcript.head()

,person,event,time,offer id,amount,reward,offer_type
0,78afa995795e4d85b5d9ceeca43f5fef,offer received,0,9b98b8c7a33c4b65b9aebfe6a799e6d9,NaN,NaN,bogo
1,a03223e636434f42ac4c3df47e8bac43,offer received,0,0b1e1539f2cc45b7b9fa7c272da2e1d7,NaN,NaN,discount
2,e2127556f4f64592b11af22de27a7932,offer received,0,2906b810c7d4411798c6938adc9daaa5,NaN,NaN,discount
3,8ec6ce2a7e7949b1bf142def7d0e0586,offer received,0,fafdcd668e3743c1bb461111dcafc2a4,NaN,NaN,discount
4,68617ca6246f4fbc85e91a2a49552598,offer received,0,4d5c57ea9a6940dd891ad53e9dbe8da0,NaN,NaN,bogo